.container {
    height: 30px;
    display: flex;
}

.container button {
    /*all: unset;*/
    /*user-select: none;*/
}

.input {
    /*all: unset;*/
    /*border: 1px solid #595959;*/
    /*flex: 1;*/
    /*background-color: #1a1a1a;*/
}

.deleteButton {
    color: red;
}

.favorite {
    background-color: yellow;
}