.container {
    border: 1px solid white;
    width: 30%;
    height: 80%;

    text-align: center;
    position: fixed;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-flow: column;
}

.taskContainer {
    flex: 1;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.showCompletedTasksButton {
    color: white;
    border: white 1px solid;
}
