.container {
    border: 1px solid white;
    width: 30%;
    height: 60%;

    text-align: center;
    position: fixed;
    left: 50%;
    translate: -50%;
    display: flex;
    flex-flow: column;
}

.task-container {
    border: 1px solid red;
    flex: 1;
}
