.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgb(77, 77, 77) 0%, rgb(110, 110, 110) 50%, rgba(35,47,51,1) 100%);
}

.buttons {
    margin: 5px;
    transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
}

.buttons:hover {
    transform: scale(1.1);
}
