/*.container {*/
/*    position: relative;*/
/*    height: 100vh;*/
/*    background-image: url('../bg.jpg');*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Adjust the blur strength as needed */
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* You can adjust the alpha value to control the blur intensity */
    backdrop-filter: blur(3px); /* The blur strength (adjust as needed) */
}

.content {
    text-align: center;
    color: white;
    background-color: rgb(40, 40, 40);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.3);
    z-index: 1;
}

.buttonContainer {
    margin-top: 20px;
}

.button {
    margin: 5px;
    transition: transform 0.2s, opacity 0.2s;
}

.button:hover {
    transform: scale(1.1);
}

.link {
    text-decoration: none;
}
