.navbar {
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	position: relative;
}

.underline {
	background-color: #fff;
	position: absolute;
	height: 3px;
	/*border-radius: 5px;*/
	bottom: 0;
	transition: left 0.1s, width 0.1s;
}

.active {
	background-color: orange;
}

.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 15px;
	font-weight: 700;
	font-size: 1.2rem;
}

.navbar a:hover:not(.active) {
	background-color: #474747;
}

.navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
}

.profile {
	display: flex;
	align-items: center;
}