.navbar {
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	position: relative;
	user-select: none;
	font-weight: 700;
	font-size: 1.2rem;
}

.underline {
	background-color: #fff;
	position: absolute;
	height: 3px;
	/*border-radius: 5px;*/
	bottom: 0;
	transition: left 0.1s, width 0.1s;
}

.active {
	background-color: #696969;
}

.navbar a {
	color: #fff;
	padding: 15px;
	text-decoration: none;
}

.navbar a:hover:not(.active), .profile:hover {
	background-color: #474747;
}

.navbar .logo {
	font-size: 1.5rem;
	font-weight: bold;
}

.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
	width: 55px; /* Set the width to the desired size */
	height: 55px; /* Set the height to the same size as the width */
	border-radius: 50%;
	border: 0.5px solid #fff;
	cursor: pointer;
}
